<p>error-page works!</p>
<ul>
    <li>
        <a routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Registro</a>
    </li>
    <h1>Tarea</h1>
    <li>
        <a routerLink="/heroes/listado">Listar</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Agregar</a>
    </li>
    <li>
        <a routerLink="/heroes/editar">Editar</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Buscar</a>
    </li>
    <li>
        <a routerLink="/heroes/id">OOOO</a>
    </li>
</ul>